[Unit]
Description=Daynight Gnome Theme Changer

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/usr/bin/daynight-theme

[Install]
WantedBy=default.target