下載[Unit]
Description=Daynight Gnome Theme Changer
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/usr/bin/daynight-theme

[Install]
WantedBy=multi-user.target